<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>受講生詳細</title>
</head>
<body>
<h1>受講生詳細</h1>
<form th:action="@{/updateStudent}" th:object="${studentDetail}" method="post">
  <input type="hidden" th:field="*{student.id}" />
  <div>
    <label for="name">名前:</label>
    <input type="text" id="name" th:field="*{student.name}" required />
  </div>
  <div>
    <label for="kanaName">フリガナ:</label>
    <input type="text" id="kanaName" th:field="*{student.kanaName}" required />
  </div>
  <div>
    <label for="nickname">ニックネーム:</label>
    <input type="text" id="nickname" th:field="*{student.nickname}" required />
  </div>
  <div>
    <label for="email">メールアドレス:</label>
    <input type="text" id="email" th:field="*{student.email}" required />
  </div>
  <div>
    <label for="area">地域:</label>
    <input type="text" id="area" th:field="*{student.area}" required />
  </div>
  <div>
    <label for="age">年齢:</label>
    <input type="text" id="age" th:field="*{student.age}" />
  </div>
  <div>
    <label for="sex">性別:</label>
    <input type="text" id="sex" th:field="*{student.sex}" />
  </div>
  <div>
    <label for="remark">備考:</label>
    <input type="text" id="remark" th:field="*{student.remark}" />

  </div>

  <div th:each="course, stat : *{studentCourses}">
    <input type="hidden" th:id="'courseId' + ${stat.index}" th:field="*{studentCourses[__${stat.index}__].id}" />

    <label th:for="'courseName' + ${stat.index}">コース名:</label>
    <input type="text"
           th:id="'courseName' + ${stat.index}"
           th:field="*{studentCourses[__${stat.index}__].courseName}"
           required />

    <label th:for="'startDate' + ${stat.index}">受講開始日時:</label>
    <input type="datetime-local"
           th:id="'startDate' + ${stat.index}"
           th:field="*{studentCourses[__${stat.index}__].courseStartAt}" />


    <label th:for="'endDate' + ${stat.index}">受講終了日時:</label>
    <input type="datetime-local"
           th:id="'endDate' + ${stat.index}"
           th:field="*{studentCourses[__${stat.index}__].courseEndAt}" />

  </div>


  <div>
    <button type="submit">更新</button>
  </div>

  <div>
    <label>
      <input type="checkbox" th:field="*{cancelUpdate}" />
      更新せずにキャンセルする
    </label>
  </div>

</form>
</body>
</html>